<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bugsnag.appVersion" value="2.0" />
    <add key="bugsnag.releaseStage" value="staging" />
    <add key="bugsnag.userId" value="testUserId" />
    <add key="bugsnag.userEmail" value="testUserEmail" />
    <add key="bugsnag.userName" value="testUserName" />
    <add key="bugsnag.context" value="testContext" />
    <add key="bugsnag.apiKey" value="abc123" />
    <add key="bugsnag.endpoint" value="testEndpoint" />
    <add key="bugsnag.autoDetectInProject" value="true" />
    <add key="bugsnag.autoNotify" value="true" />
    <add key="bugsnag.notifyReleaseStages" value="a,b" />
    <add key="bugsnag.filePrefixes" value="c,d" />
    <add key="bugsnag.projectNamespaces" value="e,f" />
    <add key="bugsnag.ignoreClasses" value="g,h" />
    <add key="bugsnag.metadataFilters" value="i,j" />
  </appSettings>
</configuration>