<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bugsnag"
             type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>

  <!-- Classic Bugsnag key, default hosts expected -->
  <bugsnag apiKey="abcd1234abcd1234abcd1234abcd1234" />
</configuration>