<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bugsnag" type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>
  <bugsnag
    apiKey="abc123"
    appType="test"
    autoNotify="false"
    appVersion="1.0"
    endpoint="https://www.bugsnag.com"
    notifyReleaseStages="development,test,production"
    releaseStage="test"
    projectRoots="C:\app,D:\src"
    projectNamespaces="App.Code,Bugsnag.Tests"
    ignoreClasses="NotAGoodClass,NotThatBadException"
    metadataFilters="password,creditcard"
    autoCaptureSessions="true"
    proxyAddress="https://bugsnag.com:8080"
    proxyUsername="bugsnag"
    proxyPassword="password"
    sessionsEndpoint="https://www.bugsnag.com">
    <metadata>
      <item key="test" value="wow" />
    </metadata>
  </bugsnag>
</configuration>
