<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bugsnag"
             type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>

  <!-- Hub-flavoured key, *no* explicit <endpoint> elements -->
  <bugsnag apiKey="00000123456789abcdef0123456789" />
</configuration>