<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bugsnag" type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>
  <bugsnag apiKey="d0d195886c30e03d8e5f7c884f62f0b9" releaseStage="development" notifyReleaseStages="development" projectNamespaces="net47_console" projectRoots="C:\app\" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>
