#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.4.0.{build}

#---------------------------------#
#       build configuration       #
#---------------------------------#

# scripts to run before build
build_script:
  script\build.bat

# build script will run tests
test: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  # pushing entire folder as a zip archive
  - path: build
    name: Bugsnag.$(APPVEYOR_BUILD_VERSION)
    type: zip
