@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Bugsnag</h3>
<p>Focused and powerful error monitoring for web, mobile, and server apps.</p>

<p><a href="https://bugsnag.com">www.bugsnag.com</a></p>

<address>
    <strong>Support:</strong> <a href="mailto:Support@bugsnag.com">Support@bugsnag.com</a><br/>
</address>
