@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-7 ">
        <h2>Sample pages using ASP.NET Core MVC</h2>
        <p>In the menu bar above click to send errors to your Bugsnag dasboard.</p>
        <ul>
            <li>Problems - will trigger an unhandled exception or 'error' level</li>
            <li>Contact - will trigger a handled exception of 'warnging level</li>
            <li>Home - each loading of the homepage will send a notification of 'info' level</li>
        </ul>

        <p>visit <a href="https://app.bugsnag.com">app.bugsnag.com</a> to see the results!</p>
    </div>
 
</div>
