@{
    ViewData["Title"] = "Contact";
}

<h3>Bugsnag</h3>
<p>Focused and powerful error monitoring for web, mobile, and server apps.</p>

<p><a href="https://bugsnag.com">www.bugsnag.com</a></p>

<address>
    <strong>Support:</strong> <a href="mailto:support@bugsnag.com">support@bugsnag.com</a><br />
</address>
