@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-7 ">
        <h2>Bugsnag ASP.NET Core Example</h2>
        <p>Use the navigation bar above to send errors to your Bugsnag dasboard.</p>
        <ul>
            <li>Contact - will trigger a handled exception</li>
            <li>Problems - will trigger an unhandled exception</li>
        </ul>

        <p>visit <a href="https://app.bugsnag.com">app.bugsnag.com</a> to see the results!</p>
    </div>

</div>